# Ignore build/config files
CMakeLists.txt linguist-detectable=false
*.cmake linguist-detectable=false

# Ignore other languages if needed
*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.swift linguist-detectable=false
*.java linguist-detectable=false

# Force Dart detection
*.dart linguist-detectable=true
