# Ignore CMake
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored

# Ignore other languages
*.cpp linguist-vendored
*.h linguist-vendored
*.swift linguist-vendored
*.java linguist-vendored

# Force Dart
*.dart linguist-detectable=true
